html,body{
    background-image: url('COCOTALKS_BG_FOR_TAGLINE.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    font-family: 'Source Sans Pro',sans-serif;
    overflow-x: hidden !important;
    margin: 0px !important;
    padding: 0px !important;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none !important;
  }
  
  nav {
    font-family: 'Source Sans Pro',sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-image: linear-gradient(-45deg, #7DB5BA 0%, #64E596 100%);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
  }
  
  .nav-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .logo img{
    width: 200px;
    height: auto;
  }
  
  .nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 50%;

  }
  
  .nav-links li {
    list-style: none;
    margin: 0 10px;
  }
  
  .nav-links li a {
    color: black;
    text-decoration: none;
    font-size: 20px;
    padding: 20px;
    border-radius: 5px;

    transition: all 0.3s ease;
  }
  
  .nav-links li a:hover {
    background-color: #64E596;
    color: #ffffff;
  }
  



/* LANDING CSS */

.landing{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 10vw 0 10vw;
    height: 100vh;
}

.landing h1 img{
    width: 300px;
    height: auto;
  }

.landingText h1{
    font-size: 6vw;
    margin: 0 !important;
}

.landingText h3{
    margin: 6px !important;
    font-size: 20px;
    opacity: .6;
    line-height: 30px;
}

.landingText .btn{
    width: 120px;
    margin-top: 30px;
    padding: 14px 20px 14px 20px;
    background-image: linear-gradient(-45deg, #7DB5BA 0%, #64E596 100%);
    border-radius: 45px;
    text-align: center
}

.landingText .btn a{
    font-size: 1.2vw;
    color: #fff;
}

.landingImage img{
    width: 28vw;
}


/* ABOUT CSS */

.about{
    height: 600px;
    padding: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.aboutText{
    position: relative;
    padding: 0 50px;
    height: inherit;
}



.aboutText h1{
    position: relative;
    left: 270px;
}

.aboutText img{
    width: 10vw;
    position: absolute;
    top: 50px;
}

.aboutList{
    width: 50%;
}


p{
    font-size: 18px;
    color: #000;
    padding-left: 0px;
    line-height: 30px;

}


/* Banner */


.contact_us{
    -webkit-background: cover;
    -moz-background: cover;
    -o-background: cover;
    background: cover;
    min-height: 300px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: black;
    font-family: sans-serif;
    
}
.contact_us .content{
    background-color: #f1f1f1;
    padding: 30px;
}
.contact_us .content h4{
    margin-bottom: 30px;
}
.contact_us .content .form-control {
    background-color: rgba(82,78,78,.07);
    color: black;
    border: none;
    
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}
.contact_us .content .form-control.active{
  -webkit-transform: scale(1.1, 1.1);
  -moztransform: scale(1.1, 1.1);
  -o-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
}
.contact_us .content textarea{
    height: 108px;
    outline:none;
}
.contact_us .content .btn-danger {
    padding-bottom: 10px;
    padding-top: 10px;
    background-image: linear-gradient(-45deg, #ba9a7d 0%, #e0501b 100%);
}


/* FOOTER CSS */

.footer{
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
}

.footerlinks a{
    margin: 20px;
    font-size: 16px;
    font-weight: 600;
    color: #000;
}
.footerlinks .mainlink{
    color: #e0501b;
}


/* RESPONSIVE */


@media only screen and (max-width: 600px){

.nav{
    flex-direction: column;
    justify-content: space-around;
    padding: 20px;
    height: auto;
    overflow-y: hidden;
}

.nav h4{
    font-size: 6vw;
    margin-top: 10px;
    margin-bottom: 14px;
}

.nav .links a{
    margin-right: 25px;
    font-size: 12px;
    font-weight: 600;
}


/* LANDING PAGE */

.landing{
    flex-direction: column-reverse;
    height: 750px;
    align-items: center;
    justify-content: center;
    text-align: center
}

.landingText h1{
    font-size: 6vw;
    margin: 0 !important;
}

.landingText h3{
    font-size: 16px;
}

.landingText .btn{
    margin: 0 auto;
}

.landingText .btn a{
    font-size: 3vw;
}

.landingImage img{
    width: 52vw;
    margin-bottom: 20px;
}


/* ABOUT */

.about{
    height: auto;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.aboutText{
    padding: 0 50px;
    height: 100px;
}

.aboutText h1{
    left: 40px;
    font-size: 5vw;
}

.aboutText img{
    width: 16vw;
    top: 10px;
    left: -30px;
}

.aboutList{
    width: 75%;
}

ol li{
    font-size: 26px;
}

li p{
    font-size: 14px;
}

.infoSection{
    height: auto;
}

.infoHeader{
    text-align: center;
    margin: 40px 0;
}

.infoCards{
    display: flex;
    flex-direction: column;
    padding: 50px;
    justify-content: center;
    align-items: center;
    text-align: center
}

.infoCards .card{
    margin-bottom: 60px;
}

.banner{
    height: auto;
    flex-direction: column-reverse;
    padding: 50px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.banner h1{
    font-size: 6vw;
}

.bannerInnerText{
    font-size: 3vw !important;
}

.bannerText img{
    width: 20vw;
}

.bannerImg img{
    width: 26vw;
}

.footer{
    padding-bottom: 40px;
}









}









































































